body {
  font-size: 0.8rem;
  font-family: sans-serif;

  padding-inline: 2em;

  color: #050505;
}

p, div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #c7c7c7;
  padding: 0.25em;

  background-color: #111;
  box-shadow: 0 0 0 100vmax #111;
  clip-path: inset(0 -100vw);
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #827E7E;
}

h3 {
  font-size: 1.5em;
}

h4 {
  padding-block: 0.25em;

  background-color: #eee;
  box-shadow: 0 0 0 100vmax #eee;
  clip-path: inset(0 -100vw);
}

#logo {
  margin-top: 20px;
}

img {
  max-width: 100%;
}

.id-img {
  width: 6em;
  position: relative;
}

.id-img::after {
  content: attr(data-id);
  position: absolute;

  font-size: 0.9em;
  line-height: 1;

  top: 0;
  left: 0;

  padding: 0.2em 0.25em;

  background-color: rgb(255 255 255 / 0.6);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.bubble {
  width: max-content;
  margin-block: 0.25em;
  margin-inline: auto;
  position: relative;

  border-radius: 100vw;
}

.warning {
  font-size: 1.5em;
  font-weight: 700;

  background-color: #b40606;
  color: rgb(255, 239, 239);
  padding: 0.25em 1em;
}

.warning::before {
  position: relative;
  content: "🚨";
  padding: 0.125em;
  right: 0.125em;
}

.info {
  /* font-size: 1.5em; */
  /* font-weight: 700; */

  background-color: #5cc6f0;
  border: 0.125em solid #0077ff;
  /* color: rgb(24, 24, 24); */
  padding: 0.25em 1em;
}

.info::before {
  position: relative;
  content: "ℹ️";
  padding: 0.125em;
  right: 0.125em;
}

.ov-x-auto {
  overflow-x: auto;
}
