body {
  font-size: 0.8rem;
  font-family: sans-serif;

  padding-inline: 2em;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #c7c7c7;
  padding: 0.25em;

  background-color: #111;
  box-shadow: 0 0 0 100vmax #111;
  clip-path: inset(0 -100vw);
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #827E7E;
}

h3 {
  font-size: 1.5em;
}

h4 {
  padding-block: 0.25em;

  background-color: #eee;
  box-shadow: 0 0 0 100vmax #eee;
  clip-path: inset(0 -100vw);
}

#logo {
  margin-top: 20px;
}

#logo img { width: 170px; }

.info {
  padding: 6px 8px;
  font-size: 1em;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

img {
  max-width: 100%;
}

.id-img {
  width: 6em;
  position: relative;
}

.id-img::after {
  content: attr(data-id);
  position: absolute;

  top: 0;
  left: 0;

  padding: 0.125em 0.25em;

  background-color: rgb(255 255 255 / 0.5);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.warning {
  background-color: #b40606;
  color: rgb(255, 239, 239);
  padding: 0.25em 1em;

  font-weight: 700;

  width: max-content;
  margin-block: 1em;
  margin-inline: auto;
  position: relative;

  border-radius: 100vw;
}

.warning::before {
  position: relative;
  content: "🚨";
  padding: 0.125em;
  right: 0.125em;
}